# Supabase / Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/deedify
SUPABASE_URL=https://eauggbrumwbwiwfemxqc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhdWdnYnJ1bXdid2l3ZmVteHFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5Mjk4NjYsImV4cCI6MjA3MzUwNTg2Nn0.O--F5WTAm6jdbGVj7ny4raH8emSPS8hwkKsQ0YY9Qv4
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhdWdnYnJ1bXdid2l3ZmVteHFjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzkyOTg2NiwiZXhwIjoyMDczNTA1ODY2fQ.LvThvJiVPeT67cs8IZpU4nN1VxII75RyEZkxcQ5lQ2s

# Solana / Helius
SOLANA_CLUSTER=devnet
HELIUS_RPC_URL=https://devnet.helius-rpc.com/?api-key=11d1056e-2fdc-43bc-a985-c649236d3af1
MINT_AUTH_SECRET=4EuTgh1vqftk9N3VE3dtu4cPbKTVQNPbRK8h9aFT8se7PzTVmNnSPNxk9EcTQT1UPckSBbreJdTAkaK563N1DieM
METAPLEX_AUTHORITY=HBgBK5RG11iWcWF9q27BS1Xf2bVj73LupTDSC1htdFE1

# App Configuration
JWT_SECRET=DhhMK0WMV+d7YEIiTnl3OWQhNXgrmWXBYoYFFE4gN8o
PORT=3000
REDIS_URL=redis://localhost:6379
NODE_ENV=development

# Optional Services
KYC_PROVIDER=veriff
KYC_API_KEY=af661d70-31f8-40e2-8caa-cff3ad4e9251
STRIPE_SECRET_KEY=sk_test_51S8roi5zrJQoiHrih7N75ALN5IbcDxMALyngidv0I3ugYNnYGh3ljhPtkJEgR8jUtmh87WmQoDpWAFgk30osON3N00Xm38p9Jx
MAPBOX_TOKEN=pk.eyJ1Ijoibm90dHlhc2hoIiwiYSI6ImNtZnEyeWhnZDAxYjYybHF1dTQxb2hpMTAifQ.Sj_-ztRyLXYu499ipkr6Tw

# Valuation Service
VALUATION_SERVICE_URL=http://localhost:3001